.calculadora {
  margin-top: 40px;
  border: solid 1px black;
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}
 
.btn {
  width: 60px;
  height: 50px;
  margin: 5px;
  box-shadow: 1px 1px 1px black;
}

.clear {
  width: 130px;
}

.enter {
  position: absolute;
  height: 110px;
}

.zero {
  width: 130px;
}

.resultado {
  text-align: right;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px black;
  box-shadow: 1px 1px 1px black;
}
